.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.booking-form {
	max-width: 642px;
	width: 100%;
	margin: auto;
}

.booking-form .form-header {
	text-align: center;
	margin-bottom: 25px;
}

.booking-form .form-header h1 {
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffc001;
	margin: 0px;
}

.booking-form>form {
	background-color: #101113;
	padding: 30px 20px;
	border-radius: 3px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 15px;
}

.booking-form .form-control {
	background-color: #f5f5f5;
	border: none;
	height: 45px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 500;
	color: #101113;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #101113;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
}

.booking-form .submit-btn {
	color: #101113;
	background-color: #ffc001;
	font-weight: 700;
	height: 50px;
	border: none;
	width: 100%;
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
}
/*----------------------------*\
	Nav Header
\*----------------------------*/
#header #nav-header {
	background: #07090c;
}

#nav-header .nav-logo {
	display:none;
	float:left;
}

#nav-header .nav-logo .logo {
	display:inline-block;
}

#nav-header .nav-logo .logo > img {
	width: 100%;
	max-height: 90px;
}

#nav-header.fixed {
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:99;
}

.main-nav li {
	border-left:1px solid #222;
}

.main-nav li:last-child {
	border-right:1px solid #222;
}

.main-nav li a {
	padding: 25px 15px;
	color: #FFF;
	text-transform: uppercase;
}

.main-nav li.active a {
	background-color:#EF233C !important;
}

.main-nav li a:hover, .main-nav li a:focus {
	background-color:#222;
}

.button-nav {
	position:relative;
	float:right;
}

.button-nav > button {
	padding: 25px 25px;
	border: none;
	line-height: 20px;
	background: transparent;
	color: #FFF;
}

.button-nav .search-collapse-btn.active {
	background: #EF233C;
}

.search-form {
	position: absolute;
	width: 250px;
	background: #07090c;
	padding: 20px;
	right: 0;
	border-top: 2px solid #EF233C;
	-webkit-box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 5px 6px -5px rgba(0, 0, 0, 0.4);
	z-index: 22;
	-webkit-transform:translateY(15px);
	-ms-transform:translateY(15px);
	transform:translateY(15px);
	opacity:0;
	visibility:hidden;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.search-form form .input {
	border:none;
	background-color:#FFF;
}

.search-form.search-collapse {
	-webkit-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transform:translateY(0px);
	opacity:1;
	visibility:visible;
}

.button-nav .nav-collapse-btn {
	display:none;
}

/*----------------------------*\
	Responsive Header
\*----------------------------*/

@media only screen and (max-width: 1201px) {
	#header #center-header .header-logo , #header #center-header .header-ads {
		float:none;
		text-align:center;
	}
}

@media only screen and (max-width: 767px) {
	#header #top-header {
		text-align:center;
	}

	.header-links, .header-social {
		float:none;
	}

	.header-links ul li {
		margin-right:-4px;
		border-bottom:1px solid #DDD;
	}

	.header-social {
		margin-top:-1px;
	}

	.header-social ul li {
		margin-right:-4px;
		border-top:1px solid #DDD;
	}

	#header #center-header {
		padding:0px;
	}

	.header-ads {
		display:none;
	}

	#nav-header .button-nav .nav-collapse-btn {
		display:inline-block;
	}

	#nav-header .nav-logo {
		display:block;
		float:none;
		text-align:center;
		margin-bottom:30px;
	}

	#main-nav {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		max-width: 300px;
		width:0%;
		padding-top:30px;
		overflow-x: hidden;
		overflow-y: auto;
		background: #07090c;
		-webkit-box-shadow: 5px 0px 6px -5px rgba(0, 0, 0, 0.4);
		box-shadow: 5px 0px 6px -5px rgba(0, 0, 0, 0.4);
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: 0.2s all;
		transition: 0.2s all;
		z-index: 99;
	}

	#main-nav.nav-collapse {
		width:100%;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}

	.main-nav {
		margin:0px;
		max-height:400px;
		overflow-x:hidden;
		overflow-y:scroll;
	}
}
